# IDEA
.idea/
*.iml
# IDEA
.idea/
*.iml

# Maven/Gradle
target/
out/

# Logs
*.log

# OS
.DS_Store

# JARs
*.jar

# VSCode
.vscode/

# Backup
*.class

# Resources
datasource.txt

# Maven/Gradle
target/
out/

# Logs
*.log

# OS
.DS_Store

# JARs
*.jar

# VSCode
.vscode/

# Backup
*.class

# Resources
datasource.txt

